#boas-vindas {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: auto;
}

#boas-vindas p {
  color: #efefef;
  margin-top: 2em;
  margin-bottom: 4em;
}

#boas-vindas img {
  width: 35em;
  margin-left: -10em;
}

