* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  color: #fff;
}


img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 4.5rem;
  background: none;
  border-radius: 3rem;
  border: 4px solid #efefef;
}
button:hover {
  background: #efefef;
  color: #00243C;
  transition: .2s;
}